body {
  background-color: #f5f5f5;
}

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

#map {
  height: 65vh;
}

#chat {
  height: 35vh;
  position: relative;
}

#chat-messages {
  height: calc(35vh - 130px);
}

#chat-form {
  background-color: #f5f5f5;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 30px;
  bottom: 0px;
}

.color-picker {

}