body {
  background-color: #f5f5f5;
}

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

#map {
  height: 70vh;
}

#chat {
  height: 30vh;
  position: relative;
}

#chat-messages {
  height: calc(30vh - 80px);
}

#chat-form {
  background-color: #f5f5f5;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 30px;
  bottom: 0px;
}