<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>WebSocket Chat</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/app.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies
  on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="#main-content" class="container">
  <div class="row small">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>ID</td>
          <td>部屋名</td>
          <td>ダイスボット</td>
          <td>最終入室日時</td>
          <td>入室</td>
        </tr>
      </thead>
      <tbody>
      <tr th:each="room : ${props.roomList}">
        <td th:text="${room.roomId}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.diceBot}"></td>
        <td th:text="${#dates.format(room.lastEnteredAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
        <td><a class="btn btn-primary" th:href="'chat/' + ${room.roomId}">入室</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>