<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>WebSocket Chat</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/room.js"></script>
</head>
<body>
<div class="container-fluid small">
  <div class="row">
    <div class="col-10">
      <div class="row" id="map">
        <p>map area</p>
      </div>
      <div class="row" id="chat">
        <div id="chat-messages" class="y-scrollable">
          <table class="table">
            <tbody id="chat-messages-table">
            <tr th:each="i : ${#numbers.sequence(props.savedMessages.size() - 1, 0, -1)}">
              <td th:styleappend="${props.savedMessages[i].color != null} ? 'color: '+ ${props.savedMessages[i].color} +';'"
                  th:text="${props.savedMessages[i].getUnescapedName()} + '：' + ${props.savedMessages[i].getUnescapedStatement()}">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="chat-form">
          <form>
            <div class="row g-2 mb-2">
              <div class="col-2">
                <label for="name" class="visually-hidden">Name</label>
                <input type="text" id="name" class="form-control form-control-sm"
                       placeholder="発言者名">
              </div>
              <div class="col-1">
                <label for="name" class="visually-hidden">Color</label>
                <input type="color" id="color" class="form-control form-control-sm">
              </div>
            </div>
            <div class="row g-3 mb-3">
              <div class="col-11">
                <label for="statement" class="visually-hidden">Message</label>
                <input type="text" id="statement" class="form-control form-control-sm"
                       placeholder="発言を入力...">
              </div>
              <div class="col">
                <button id="send" class="btn btn-sm btn-primary" type="submit">送信</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row xy-scrollable" id="characters">
        <table class="table table-bordered">
          <thead>
          <tr>
            <td>INI</td>
            <td>修正値</td>
            <td>名前</td>
          </tr>
          </thead>
          <tbody id="characters-table">
          <tr>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>